.ui-datepicker {
	width: 17em;
	display: none;
	background-color: #10253C;
	color: #EEE;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .5em 0;
	background-color: rgba(0,0,0,0.2);
	text-transform: uppercase;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 14px;
	width: 16px;
	height: 16px;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 14px;
}
.ui-datepicker .ui-datepicker-prev {
	background-image: url('../images/ArrowLeft.png');
	left: 10px;
}
.ui-datepicker .ui-datepicker-next {
	background-image: url('../images/ArrowRight.png');
	right: 10px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 10px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 10px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	background-color: rgba(256,256,256,0.1);
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker th.ui-datepicker-week-end {
	color: #FAA;
	background-color: rgba(256,200,200,0.1);
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td.ui-datepicker-week-end span,
.ui-datepicker td.ui-datepicker-week-end a {
	color: #FAA;
}
.ui-datepicker td.ui-datepicker-current-day span,
.ui-datepicker td.ui-datepicker-current-day a {
	background-color: #FFF;
	color: #0AA;
	border-radius: 6px;
	font-weight: bold;
	transition: border-radius 0.5s, background-color 0.5s;
}
.ui-datepicker td span,
.ui-datepicker td a {
	color: #FFF;
	display: block;
	border: 1px solid transparent;
	padding: .2em;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.25s, border-color 0.25s;
}
.ui-datepicker td span:hover,
.ui-datepicker td a:hover {
	color: #FFF;
	background-color: rgba(0,0,0,0.25);
	border: 1px solid #FFF;
	display: block;
	padding: .2em;
	text-align: center;
	text-decoration: none;
	border-radius: 0px;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}
