.route-head {
	background-color: #FFF;
	padding: 10px 0px 15px;
}
.route-head .value {
	text-transform: uppercase;
}
.buses {
	padding: 10px 0px;
}
.buses .bus {
	padding: 4px;
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 2px #666;
	margin: 8px 0px;
}
.buses .bus .head {
	font-weight: bold;
}