.route-head {
	background-color: #FFF;
	padding: 10px 0px 15px;
}
.route-head b {
	font-weight: bold;
	font-family: arial !important;
	font-size: 110%;
}
.route-head .value {
	text-transform: uppercase;
}
.buses {
	padding: 10px 0px;
}
.buses .bus {
	padding: 8px 16px;
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 2px #666;
	margin: 8px 0px;
}
.buses .bus .head {
	font-weight: bold;
}

.container3 {
width:93%;
margin-bottom: 40px;
}
#headseat li 
{
display: inline-block;
    float: left;
    width: 17.33%; }
